<div class="container" id='visualizer'>

    <div class='row'>
        <div class="col">
            <div id='toPlace'>
                <p>Place <span [ngStyle]="{'background-color': toPlaceColor}">{{toPlace}}</span>
                </p>
            </div>
        </div>
    </div>

    <div class='row'>
        <div class="col">
            <app-canvas #canvasComponent [clickState]="clickStateValue" (toPlaceEmitter)="onToPlaceEvent($event)">
            </app-canvas>
        </div>
        <div class='col d-flex flex-column justify-content-evenly'>
            
                <div id="clickMenu">
                    <app-node-menu (clickStateOutput)="onClickStateChange($event)"></app-node-menu>
                </div>
                <div class="p-3"></div>
                <div id="actionMenu">
                    <button mat-raised-button (click)="canvasComponent.clear()">Clear</button>
                    <div class="p-2"></div>
                    <button mat-raised-button (click)="canvasComponent.visualizeDijkstra()">Visualize</button>
                </div>
            
        </div>
    </div>

    <div class='row'>
        <div class="col">
            <p id="error" *ngIf="dijkstraService.error">Couldn't reach target node !</p>
        </div>
    </div>
</div>